html {
  background: url("../images/UncleSamsBG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-top: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}
.data-container {
  display: contents;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
.Qlogo {
  width: 60%;
  padding-left: 20%;
}

.MuiDataGrid-root {
  background-image: linear-gradient(white, lightblue);
}

.message {
  flex-grow: 1;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(white, lightblue);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 18px;
  box-shadow: 3px 3px 2px rgb(20, 20, 20);
  margin-left: 10px;
  margin-right: 10px;
}
.data {
  flex-basis: auto;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(white, #3e58b6);
  border-radius: 18px;
  box-shadow: 3px 3px 2px rgb(20, 20, 20);
}

h2 {
  align-content: center;
}
h4 {
  color: white;
  align-content: center;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  align-content: center;
  font-weight: 700;
}
button {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 3px 3px 2px black;
}

button:hover {
  background-color: lightgray; /* Green */
}

.card {
  color: white;
  background-image: url("../images/QuestionCard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 115%;
  height: 592px;
  box-shadow: 5px 5px 5px rgb(92, 92, 92);
  margin-left: 20px;
  margin-right: 20px;
}
.question {
  font-weight: 600;
  font-size: 20px;
  color: black;
  align-content: center;
  padding-top: 30%;
  padding-left: 9%;
  padding-right: 9%;
}

#next {
  color: white;
  margin-top: 5px;
  padding: 6px;
  border-radius: 10px;
  background-color: #3e58b6;
  box-shadow: 3px 3px 2px black;
}

#next:hover {
  color: white;
  font-weight: 700;
  background-color: green; /* Green */
}
.guy {
  width: 200px;
  align-content: center;
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
